{% extends "base.twig" %}

{% block content %}

<article id="post-{{post.ID}}" role="article" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="article-header row">

        <h1 class="page-title large-6 column large-centered small-centered">{{post.page_title}}</h1>

        <div id="subnav" class="subnav">
            {% include 'about-nav.twig' %}
        </div>


    </header>


    <section class="primary-about-sections entry-content cf" itemprop="articleBody">
        {% for about_section in about_sections %}
            {% include "about-section.twig" with { post : about_section} %}
        {% endfor %}
    </section>

    <section class="director-about-section about-section row">
        <div class="article-content">
            <h2 class="article-h1">{{post.directors_section_title}}</h2>
            <div class="article-body">
                <p>{{post.directors_intro_content}}</p>
            </div>
        </div>
        <div class="article-sub-section">
        {% for director in directors %}
            {% include "members.twig" with { post : director } %}
        {% endfor %} 
        </div>

    </section>

     <section class="member-about-section about-section row">
        <div class="article-content">
            <h2 class="article-h1">{{post.members_section_title}}</h2>
            <div class="article-body">
                <p>{{post.members_intro_content}}</p>
            </div>
        </div>
        <div class="article-sub-section">
            {% for member in members %}
                {% set memberPosition = '' %}
                {% if loop.length % 3 == 2 and loop.index == loop.length - 1 %}
                {% set memberPosition = 'large-offset-2' %}
                {% endif %}
                {% if loop.length % 3 == 1 and loop.index == loop.length %}
                {% set memberPosition = 'large-offset-4 ' %}
                {% endif %}
                {% include "members.twig" with { post : member, memberPosition: memberPosition } %}
            {% endfor %}
        </div>
    </section>

</article>

{% endblock %}
