{% block html_head_container %}
    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-54738307-1', 'auto');
      ga('send', 'pageview');

    </script>
    </head>
{% endblock %}
    <body class="{{body_class}}" data-template="base.twig">
        {% include 'modal-mobile-menu.twig' %}
        {% include 'modal-newsletter.twig' %}
        {% include 'modal-search.twig' %}
        <div id="js-blog-modals"></div>

        <div id="container">
            <header class="header" role="banner">

                {% block header %}

                <div id="inner-header" class="wrap cf">

                    <nav role="navigation" class="top-nav-wrapper">
                        {% include 'nav.twig' %}
                    </nav>

                    <nav role="navigation" class="mobile-nav-wrapper">
                        {% include 'mobile-nav.twig' %}
                    </nav>

                    {% block submenu %}
                    {% endblock %}

                </div>
                 {% endblock %}

            </header>

        <section id="content" role="main" class="content-wrapper">
            {% if title %}<h1>{{title}}</h1>{% endif %}
            <div class="wrapper {{sidebar_class}}">
                {% block content %}
                    Sorry, no content
                {% endblock %}
            </div>
            {% if sidebar %}
                <aside class="layout-sidebar">
                    {{sidebar}}
                </aside>
            {% endif %}
        </section>

        {% block footer %}
            <footer id="footer">
                {% include 'footer.twig' %}
            </footer>
            {{ function('wp_footer') }}
        {% endblock %}
    </body>
</html>
