{% block html_head_container %}
    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    <script>
        var _gaq=[['_setAccount','UA-54738307-1'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    </head>
{% endblock %}
    <body class="{{body_class}}" data-template="base.twig">
        {% include 'modal-mobile-menu.twig' %}
        {% include 'modal-newsletter.twig' %}
        {% include 'modal-search.twig' %}
        <div id="js-blog-modals"></div>

        <div id="container">
            <header class="header" role="banner">

                {% block header %}

                <div id="inner-header" class="wrap cf">

                    <nav role="navigation" class="top-nav-wrapper">
                        {% include 'nav.twig' %}
                    </nav>

                    <nav role="navigation" class="mobile-nav-wrapper">
                        {% include 'mobile-nav.twig' %}
                    </nav>

                    {% block submenu %}
                    {% endblock %}

                </div>
                 {% endblock %}

            </header>

        <section id="content" role="main" class="content-wrapper">
            {% if title %}<h1>{{title}}</h1>{% endif %}
            <div class="wrapper {{sidebar_class}}">
                {% block content %}
                    Sorry, no content
                {% endblock %}
            </div>
            {% if sidebar %}
                <aside class="layout-sidebar">
                    {{sidebar}}
                </aside>
            {% endif %}
        </section>

        {% block footer %}
            <footer id="footer">
                {% include 'footer.twig' %}
            </footer>
            {{ function('wp_footer') }}
        {% endblock %}
    </body>
</html>
