<div id="blog-info">
  <h2>Editorial Board</h2>
  <p>{{blog.editorial_board_intro}}</p>
  <h3>Editors</h3>
  <p>{{blog.editors}}</p>
  <h3>Contributers</h3>
  <p>{{blog.contributers}}</p>
  <h2>Submission Guidlines</h2>
  <p>{{blog.submission_guidlines}}</p>
  <h2>Comments Policy</h2>
  <p>{{blog.comments_policy}}</p>
  <h2>Contact Info</h2>
  <p>{{blog.contact_info}}</p>
</div>
