<div class="large-4 columns item blog-list-item">
    <article id="post-{{post.ID}}" class="post-{{post.ID}} post type-post status-publish format-standard hentry category-uncategorized cf" role="article">

        <p class="info-text">{{post.display_date}}</p>

        <h1 class="h5 entry-title"><a href="{{post.get_path}}" rel="bookmark" title="{{post.post_title}}">{{post.post_title}}</a></h1>

        <p class="info-text">{{post.author}}</p>

        {% if post.get_field('featured_image') %}
            <img class="headshot" src="{{post.get_field('featured_image')}}" alt="post image">
        {% endif %}


        <section class="cf">
            <p>{{post.get_content}}</p>
        </section>

    </article>
</div>