<div class="large-4 columns item blog-list-item">
    <article id="post-{{post.ID}}" class="post-{{post.ID}} post type-post status-publish format-standard hentry category-uncategorized cf" role="article">

        <p class="display-date">{{post.display_date}}</p>

        <h2 class="h5 entry-title"><a href="{{post.get_path}}" rel="bookmark" title="{{post.post_title}}">{{post.post_title}}</a></h2>

        <p class="author">{{post.author}}</p>

        {% if post.get_field('featured_image') %}
            <img src="{{post.get_field('featured_image')}}" alt="post image">
        {% endif %}


        <section class="cf post-summary">
            <p>{{post.get_field('blog_content')|length > 350 ? post.get_field('blog_content')|striptags|slice(0, 350) ~ '...' : post.get_field('blog_content')}}</p>
        </section>

        {% for category in post.terms('category') %}
            {% if category.name != 'Uncategorized' %}
                <a href="{{category.link}}" class="category-tag">{{ category.name }}</a>
            {% endif %}
        {% endfor %}

    </article>
</div>