{% extends "base.twig" %}

{% block content %}

<div class="feature-block hide-for-small" style="background-image: url('{{TimberImage(post.get_field('cover_image')).src}}');">
    <div class="feature-info">
       <h1><a href="{{post.get_field('feature_link')}}">{{post.feature_title}}</a></h1>
    </div>
</div>

<div class="feature-block show-for-small">
    <div class="feature-info">
       <h1><a href="{{post.get_field('feature_link')}}">{{post.feature_title}}</a></h1>
    </div>
    <img src="{{TimberImage(post.get_field('cover_image')).src}}" class="show-for-small" alt="">
</div>

{% endblock %}
