{% extends "base.twig" %}

{% block content %}

<div class="feature-block hide-for-small" style="background-image: url('{{TimberImage(post.get_field('cover_image')).src}}');">
    <div class="feature-info">
      <h5>{{post.feature_info}}</h5>
      <h1><a href="{{featured_item.guid}}">{{featured_item.post_title}}</a></h1>
      {% if featured_item.post_type == 'post' %}
      	<h6>{{author_name}}</h6>
      {% endif %}
    </div>
</div>

<div class="feature-block show-for-small">
    <div class="feature-info">
      <h5>{{post.feature_info}}</h5>
      <h1><a href="{{featured_item.guid}}">{{featured_item.post_title}}</a></h1>
      {% if featured_item.post_type == 'post' %}
      	<h6>{{author_name}}</h6>
      {% endif %}
    </div>
    <img src="{{TimberImage(post.get_field('cover_image')).src}}" class="show-for-small" alt="">
</div>

{% endblock %}
