{% extends "base.twig" %}

{% block content %}
<article id="post-{{post.ID}}" role="article" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="article-header no-subnav row">
<!--         <h5 class="category-pre-header">Past Event</h5> -->
        <h1 class="page-title large-7 column large-centered small-centered">{{post.title}}</h1>
    </header>

      <div class="event-details row clearfix" data-equalizer>

          <section class="large-4 medium-4 column event-location-section" data-equalizer-watch>
              <h4>Location</h4>
              {{post.get_field('location')}}
          </section>

          <section class="large-4 medium-4 column" data-equalizer-watch>
              <h4>Date &amp; Time</h4>
              <p class="info-text">
              {% if post.reoccurs %}
                {{ post.start_date }} &mdash; {{ post.end_date }}
              {% else %}
                  {% if post.one_day %}
                    {{ post.event_date}}
                    {% if not post.all_day_event %}
                      <br/>
                      {{ post.start_time }} &mdash; {{ post.end_time }}
                    {% endif %}
                  {% else %}
                    {{ post.start_date }} &mdash; {{ post.end_date }}
                  {% endif %}
              {% endif %}
              {% if post.date_time_info %}
                <br/>
                {{ post.get_field('date_time_info') }}
              {% endif %}
              </p>
          </section>

          <section class="large-4 medium-4 column event-ticket-section" data-equalizer-watch>
              {% if post.free_event == 'No' %}
                <h4>Tickets: ${{post.ticket_cost}}</h4>
              {% else %}
                <h4>Free Event</h4>
              {% endif %}
              {{post.get_field('ticket_info')}}
          </section>

        </div>

        {% if post.get_field('event_image') %}
        <section class="event-poster-section event-section">
          <img src="{{TimberImage(post.get_field('event_image')).src}}" />
        </section>
        {% endif %}

        {% if post.get_field('event_description') %}
        <section class="event-section" itemprop="articleBody">
            <h2>Event Description</h2>
            <div>{{post.get_field('event_description')}}</div>
        </section>
        {% endif %}

        {% if post.get_field('moderator') %}
        <section class="event-section">
            <h3>Moderator</h3>
            <div>{{post.get_field('moderator')}}</div>
        </section>
        {% endif %}

        {% if post.get_field('sponsorship') %}
        <section class="event-section">
            <h3>Sponsorship</h3>
            <div>{{post.get_field('sponsorship')}}</div>
        </section>
        {% endif %}

        {% if post.get_field('event_schedule') %}
        <section class="event-section">
            <h2>Schedule</h2>
            <div>{{post.get_field('event_schedule')}}</div>
        </section>
        {% endif %}

        {% if post.get_field('additional_event_info') %}
        <section class="event-section">
            <div>{{post.get_field('additional_event_info')}}</div>
        </section>
        {% endif %}


</article>

{% endblock %}
