{% extends "base.twig" %}

{% block content %}
<article id="post-{{post.ID}}" role="article" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="article-header row">
        <h1 class="page-title large-7 column large-centered small-centered">{{events.page_title}}</h1>

        <div id="subnav" class="subnav">
            {% include 'events-nav.twig' %}
        </div>

    </header>

    <div id="content">
        <div id="inner-content" class="wrap cf">
            <div id="main" data-masonry-options='{ "itemSelector": ".item" }'class="js-masonry m-all t-2of3 d-5of7 cf row" role="main">

                {% for post in posts %}

                    <article class="item post-type-{{post.post_type}} large-4 small-12 column" id="post-{{post.ID}}">
                        <section class="article-content event-item-wrapper">
                            <div class="info-text">{{ post.get_field('start_date') }} &mdash; {{ post.get_field('end_date') }}</div>
                            {% if post.get_field('event_image') %}
                            <h1 class="h5">
                                <a href="{{post.permalink}}">{{post.title}}</a>
                            </h1>
                            <div class="thumbnails-wrapper">
                                <a href="{{post.permalink}}"><img src="{{TimberImage(post.get_field('event_image')).src}}" /></a>
                                <a href="{{post.permalink}}" class="thumbnail"><img src="{{TimberImage(post.get_field('event_thumbnail')).src}}" /></a>
                            </div>

                            {% else %}
                            <h1 class="h5 callout">
                                <a href="{{post.permalink}}">{{post.title}}</a>
                            </h1>
                            {% endif %}
                            <span>{{post.get_field('event_type')}}</span>
                        </section>
                    </article>
                {% endfor %}

            </div>
        </div>
    </div>


</article>
{% endblock %}