{% extends "base.twig" %}

{% block content %}
<article id="post-{{post.ID}}" role="article" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="article-header row">
        <h1 class="page-title large-7 column large-centered small-centered">{{events.page_title}}</h1>

        <div id="subnav" class="subnav">
            {% include 'events-nav.twig' %}
        </div>

    </header>

    <div id="content">
        <div id="inner-content" class="cf">
            <div id="main" class="js-isotope cf row" role="main">

                {% for post in posts %}          

                    <article class="js-event-item item post-type-{{post.post_type}} large-4 medium-6 small-12 column {{post.status}}" id="post-{{post.ID}}">
                        <section class="article-content event-item-wrapper">
                            {% if post.reoccurs %}
                                <div class="info-text">Ongoing</div>
                            {% else %}
                                {% if post.one_day %}
                                <div class="info-text">{{ post.start_date }}</div>
                                {% else %}
                                <div class="info-text">{{ post.start_date }} &mdash; {{ post.end_date }}</div>
                                {% endif %}
                            {% endif %}

                            {% if post.get_field('event_image') %}
                            <h1 class="h5">
                                <a href="{{post.permalink}}">{{post.title}}</a>
                            </h1>
                            <div class="thumbnails-wrapper">
                                <a href="{{post.permalink}}"><img src="{{TimberImage(post.get_field('event_image')).src}}" /></a>
                                <a href="{{post.permalink}}" class="thumbnail"><img src="{{TimberImage(post.get_field('event_thumbnail')).src}}" /></a>
                                {% if post.get_field('event_type') %}
                                <div class="tag">
                                    <span>{{post.get_field('event_type')}}</span>
                                </div>
                                {% endif %}
                            </div>

                            {% else %}
                            <div class="callout">
                                <h1 class="h5"><a href="{{post.permalink}}">{{post.title}}</a></h1>
                                {% if post.get_field('event_type') %}
                                <div class="tag">
                                    <span>{{post.get_field('event_type')}}</span>
                                </div>
                                {% endif %}
                            </div>
                            {% endif %}
                        </section>
                    </article>
                {% endfor %}

            </div>
        </div>
    </div>


</article>
{% endblock %}