<ul class="nav about-nav cf">
  <li id="menu-item-392" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-392">
    <a href="#" class="js-filter-all">All</a>
	</li>
    <li id="menu-item-344" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-344">
    <a href="#" class="js-filter-upcoming">Upcoming</a>
	</li>
    <li id="menu-item-345" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-345">
    <a href="#" class="js-filter-ongoing">Ongoing</a>
	</li>
    <li id="menu-item-346" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-346">
    <a href="#" class="js-filter-past">Past</a>
	</li>
</ul>


<!--  <ul class="nav about-nav cf">
    {% for item in events_menu.items %}
    <li id="menu-item-{{item.ID}}" class="menu-item menu-item-type-{{item.type}} menu-item-object-{{item.object}} menu-item-{{item.ID}}">
        <a href="{{item.link}}">{{item.title}}</a>
    </li>
    {% endfor %}
</ul> -->