{% extends "base.twig" %}

{% block content %}
<div id="content search-page">

    <div id="inner-content" class="wrap cf">

        <div id="main" class="m-all t-2of3 d-5of7 cf" role="main">
            <header class="search-header">
                <h1 class="search-page-title">Searching for: <em>{{ search_term }}</em></h1>
            </header>

            {% for post in posts %}

                <article class="search-item post-type-{{post.post_type}}" id="post-{{post.ID}}" role="article">

                    <header>
                        {% if post.post_parent != 0 %}
                            <span class="search-section-type">&mdash; {{post.parent.post_title}} &mdash;</span>
                        {% elseif post.post_type == 'event' %}
                            <span class="search-section-type">&mdash; Events &mdash;</span>
                        {% elseif post.post_type == 'post' %}
                            <span class="search-section-type">&mdash; Blog &mdash;</span>
                        {% else %}
                            <span class="search-section-type"> &mdash; {{post.post_type}} &mdash; </span>
                        {% endif %}
                        <h4 class="search-title"><a href="{% if post.post_parent != 0 %}{{site.url}}/{{post.parent.slug}}{% else %}{{post.permalink}}{% endif %}" rel="bookmark" title="{{post.post_title}}">{{post.post_title}}</a></h4>

                    </header>

                    <section class="article-content">
                        <p>{{post.post_excerpt}}</p>
                    </section>

                </article>
            {% endfor %}

        </div>

    <?php get_sidebar(); ?>

    </div>

</div>

{% endblock %}
