{% extends "base.twig" %}

{% block content %}

    <div class="content-wrapper">
        <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
            <section class="article-content">
                <header class="blog-header row">
                    <h1 class="page-title large-7 column large-centered small-centered">{{ post.title }}</h1>
                    <h4>{{ post.author.name }}</h4>
                    <h5>{{ post.post_date|date}}</h5>
                </header>   


                <div class="article-body">
                    {{ post.get_field('blog_content') }}
                </div>
            </section>

            {% if post.get_field('footnotes') %}
                <section class="post-section footnotes-section">
                    {% for footnote in post.get_field('footnotes') %}
                        <li><span><strong>{{ footnote.number }}.</strong></span> {{ footnote.footnote_text }}</li>
                        
                    {% endfor %}
                </section>
            {% endif %}

            {% if categories %}
                <section class="category-tags">
                    {% for category in categories %}
                        {% if category.name != 'Uncategorized' %}
                            <a href="{{site.url}}/category/{{category.slug}}" class="category-tag">{{ category.name }}</a>
                        {% endif %}
                    {% endfor %}
                </section>
            {% endif %}


            <section class="comments">
                {% if post.get_comments() %}
                <div class="post-section responses">
                    <h3 class="h2">{{ comment_count }} {% if comment_count == 1 %}Comment{% else %}Comments{% endif %} </h3>
                    {% for comment in post.get_comments() %}
                        {% include "comment.twig" with {comment: comment} %}
                    {% endfor %}
                </div>
                {% endif %}
                <div class="post-section respond">
                    <h3 class="h2">Write a Comment</h3>
                    <a href="" class="link">Comments Policy</a>
                    {{ comment_form }}
                </div>


            </section>

        </article>
    </div> <!-- /content-wrapper -->

{% endblock %}
